__pycache__/
*.py[cod]
*$py.class

.env
.env.*
venv/
.venv/
ENV/

storage/
*.log
*.sqlite
*.db


# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and OS files
.vscode/
.idea/
.DS_Store
